
.page-header {
  margin-bottom: 6px;
}


h4.date,
h4.author {
  display: none;
}

h2.hasAnchor {
  font-weight: 350;
}

.contents h2 {
  padding-top: 80px;
  margin-top: -80px;
  font-size: 28px;
}

.ref-index tbody {
  margin-bottom: 60px;
}

pre:not([class]) {
  background-color: white;
}

blockquote {
  font-size: inherit;
}

.examples .page-header {
  border-bottom: none;
  margin: 0;
  padding-bottom: 0;
}

.examples .sourceCode {
  margin-top: 25px;
}

#sidebar .nav>li>a {
  padding-top: 1px;
  padding-bottom: 2px;
}

#installation .sourceCode {
  font-size: 13px;
}

.r-plot {
  margin-top: 15px;
  margin-bottom: 20px;
  border: solid 1px #cccccc;
}

.screenshot, .illustration {
  margin-bottom: 20px;
  border: solid 1px #cccccc;
}


.source-ref {
  margin-bottom: 20px;
}

.source-ref .caption {
  display: none;
}

.link-table td {
  padding-top: 20px !important;
  padding-bottom: 210x !important;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: linear-gradient(to bottom,#fcf8e3 0,#f8efc0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
  background-repeat: repeat-x;
  border: 1px solid #f5e79e;
  border-radius: 4px;
}



