
.tutorial-illustration {
  width: 60%;
  display: block;
  margin-left :auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  border: solid 1px #cccccc;
}

.tutorial-illustration-large {
  width: 100%;
}

#video {
  border: solid 1px #cccccc;
}

footer {
  text-align: center;
  font-size: 0.9em;
  margin-bottom: 100px;
}
