# Workflow derived from https://github.com/r-lib/actions/tree/master/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  workflow_dispatch:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: OS=${{ matrix.config.os }} R=${{ matrix.config.r }} py=${{ matrix.config.python }}

    timeout-minutes: 30

    strategy:
      fail-fast: false
      matrix:
        config:
          - { os: macOS-latest  , r: 'release', python: '3.9' }
          - { os: windows-latest, r: 'release', python: '3.9' }
          - { os: ubuntu-latest , r: 'release', python: '3.9' }

          - { os: ubuntu-latest, r: 'oldrel-1', python: '3.9' }
          - { os: ubuntu-latest, r: 'oldrel-2', python: '3.9' }
          - { os: ubuntu-20.04,  r: '3.6',      python: '3.8' }
          - { os: ubuntu-20.04,  r: '3.5',      python: '3.6' }
          # - { os: ubuntu-latest, r: 'devel'   , python: '3.8', http-user-agent: 'release' }

          - { os: ubuntu-latest, r: 'release', python: '3.7'  }
          - { os: ubuntu-latest, r: 'release', python: '3.8'  }
          - { os: ubuntu-latest, r: 'release', python: '3.10' }
          - { os: ubuntu-latest, r: 'release', python: '3.11' }

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v3

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          use-public-rspm: true
          # http-user-agent: ${{ matrix.config.http-user-agent }}

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.config.python }}

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: rcmdcheck remotes local::.
          cache-version: 2
          upgrade: 'TRUE'


      - name: setup r-reticulate venv
        shell: Rscript {0}
        run: |
          # remotes::install_local()
          reticulate::virtualenv_create("r-reticulate", Sys.which("python"))
          reticulate::virtualenv_install("r-reticulate",
            c("docutils", "pandas", "scipy", "matplotlib", "ipython",
              "tabulate", "plotly", "psutil", "kaleido", "wrapt"))
          python <- reticulate::virtualenv_python("r-reticulate")
          writeLines(sprintf("RETICULATE_PYTHON=%s", python),
                     Sys.getenv("GITHUB_ENV"))

      - uses: r-lib/actions/check-r-package@v2
